spring.config.import=optional:classpath:application-local.properties

spring.application.name=sep-ba

spring.datasource.url=jdbc:postgresql://db:5432/sep
spring.datasource.username=sep
spring.datasource.password=sepsep123

spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.defer-datasource-initialization=true
spring.sql.init.mode=always

spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

openrouter.api.key=DEIN_OPENROUTER_API_KEY
openrouter.models=google/gemma-4-31b-it:free,nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free
